@use "variables" as v

.text-center
  text-align: center

.font12
  font-size: 1.2em

.font09
  font-size: .9em

.bold
  font-weight: bold

textarea
  width: 100%
  border: thin solid #767676
  border-radius: 5px
  outline-color: v.$blue-color
  padding: .5em
  box-sizing: border-box
  min-width: 100%
