.steps-title
  padding: .5em
  background-color: #484a56
  color: white
  border-radius: 5px
  text-align: center

  &.pop
    animation-name: pop
    animation-duration: .5s
    animation-timing-function: ease-in-out

@keyframes pop
  0%
    transform: scale(1)
  50%
    transform: scale(0)
  100%
    transform: scale(1)

.steps-button
  border: none
  padding: 1em
  border-radius: 5px
  text-transform: uppercase
  font-weight: bold
  color: #484a56
  cursor: pointer
  transition: 0.25s all
  outline: none

  &:hover
    transform: scale(0.98)

  &:active
    transform: scale(0.5)